---
layout: ""
page_title: "Provider: Materialize"
description: |-
  The Materialize provider provides resources to interact with Materialize
  Cloud.
---

# Materialize Cloud Provider

The Materialize Cloud provider provides resources to interact with the
[Materialize Cloud] platform.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}

[Materialize Cloud]: https://cloud.materialize.com
